<launch>
    <!-- Node Name -->
    <arg name="name" default="imu"/>

    <!-- Device Port -->
    <arg name="device" default="/dev/imu" />

    <!-- Frame ID for messages -->
    <arg name="frame_id" default="$(arg name)"/>

    <node pkg="imu_3dm_gx4" name="$(arg name)" type="imu_3dm_gx4" output="screen">
        <param name="name" type="string" value="$(arg name)" />
        <param name="frame_id" type="string" value="$(arg frame_id)"/>
        <param name="device" type="string" value="$(arg device)" />
    </node>
</launch>
